{:title "両手をバラバラに動かす指の練習 パターン1"
 :url "https://www.youtube.com/watch?v=ec_ROG1jqcU&t=45s"
 :tempo 200

 :steps
 [
  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 62 :hand :right :finger-no 2 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 60 :hand :right :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 62 :hand :right :finger-no 2 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 59 :hand :left :finger-no 2 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 59 :hand :left :finger-no 2 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 62 :hand :right :finger-no 2 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :right :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 62 :hand :right :finger-no 2 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 59 :hand :left :finger-no 2 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 59 :hand :left :finger-no 2 :length 2}]}
  {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 62 :hand :right :finger-no 2}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 62 :hand :right :finger-no 2}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 62 :hand :right :finger-no 2}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 62 :hand :right :finger-no 2}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 59 :hand :left :finger-no 2}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 59 :hand :left :finger-no 2}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 59 :hand :left :finger-no 2}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 59 :hand :left :finger-no 2}]}
  {:bar-top? true
   :notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []}
  {:notes []}
  {:notes []}


  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 64 :hand :right :finger-no 3 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 60 :hand :right :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 64 :hand :right :finger-no 3 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 57 :hand :left :finger-no 3 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 57 :hand :left :finger-no 3 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 64 :hand :right :finger-no 3 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :right :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 64 :hand :right :finger-no 3 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 57 :hand :left :finger-no 3 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 57 :hand :left :finger-no 3 :length 2}]}
  {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 64 :hand :right :finger-no 3}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 64 :hand :right :finger-no 3}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 64 :hand :right :finger-no 3}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 64 :hand :right :finger-no 3}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 57 :hand :left :finger-no 3}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 57 :hand :left :finger-no 3}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 57 :hand :left :finger-no 3}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 57 :hand :left :finger-no 3}]}
  {:bar-top? true
   :notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}






  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 65 :hand :right :finger-no 4 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 60 :hand :right :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 65 :hand :right :finger-no 4 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 55 :hand :left :finger-no 4 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 55 :hand :left :finger-no 4 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 65 :hand :right :finger-no 4 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :right :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 65 :hand :right :finger-no 4 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 55 :hand :left :finger-no 4 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 55 :hand :left :finger-no 4 :length 2}]}
  {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 65 :hand :right :finger-no 4}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 65 :hand :right :finger-no 4}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 65 :hand :right :finger-no 4}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 65 :hand :right :finger-no 4}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 55 :hand :left :finger-no 4}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 55 :hand :left :finger-no 4}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 55 :hand :left :finger-no 4}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 55 :hand :left :finger-no 4}]}
  {:bar-top? true
   :notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}






  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 67 :hand :right :finger-no 5 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 60 :hand :right :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 67 :hand :right :finger-no 5 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 53 :hand :left :finger-no 5 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:notes [{:note-no 53 :hand :left :finger-no 5 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 67 :hand :right :finger-no 5 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :right :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 67 :hand :right :finger-no 5 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 53 :hand :left :finger-no 5 :length 2}]}
  {:notes []}
  {:notes [{:note-no 60 :hand :left :finger-no 1 :length 2}]}
  {:notes []}
  {:notes [{:note-no 53 :hand :left :finger-no 5 :length 2}]}
  {:notes []}
  {:bar-top? true
   :notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 67 :hand :right :finger-no 5}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 67 :hand :right :finger-no 5}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 67 :hand :right :finger-no 5}]}
  {:notes [{:note-no 60 :hand :right :finger-no 1}]}
  {:notes [{:note-no 67 :hand :right :finger-no 5}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 53 :hand :left :finger-no 5}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 53 :hand :left :finger-no 5}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 53 :hand :left :finger-no 5}]}
  {:notes [{:note-no 60 :hand :left :finger-no 1}]}
  {:notes [{:note-no 53 :hand :left :finger-no 5}]}
  {:bar-top? true
   :notes [{:note-no 60 :hand :left :finger-no 1 :length 4}]}
  {:notes []} {:notes []} {:notes []}
  ]
 }
