{:title "アンドレ・ギャニオン - 「めぐり逢い」 Lesson1"
 :url "https://www.youtube.com/watch?v=WAkNlUEhhds"
 :tempo 80

 :steps
 [
  {:bar-top? true, :notes []} {:notes []} {:notes []} {:notes []}
  {:bar-top? true ;1
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 4}
           {:note-no 60 :hand :left :finger-no 1 :length 4}
           ]}

  {:notes []} {:notes []} {:notes []}

  {:bar-top? true ;2
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 4}
           {:note-no 60 :hand :left :finger-no 1 :length 4}
           ]}

  {:notes []} {:notes []}

  {
   :notes [
           {:note-no 63 :hand :right :finger-no 1 :length 1}
           ]}

  {:bar-top? true ;3
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           {:note-no 63 :hand :right :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           {:note-no 68 :hand :right :finger-no 2 :length 6}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 4}
           {:note-no 60 :hand :left :finger-no 1 :length 4}
           ]}

  {:notes []} {:notes []}

  {
   :notes [
           {:note-no 70 :hand :right :finger-no 3 :length 1}
           ]}

  {:bar-top? true ;4
   :notes [
           {:note-no 41 :hand :left :finger-no 5 :length 1}
           {:note-no 70 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 48 :hand :left :finger-no 2 :length 1}
           {:note-no 72 :hand :right :finger-no 4 :length 6}
           ]}

  {
   :notes [
           {:note-no 53 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 2}
           ]}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 2 :length 1}
           ]}

  {:bar-top? true ;5
   :notes [
           {:note-no 48 :hand :left :finger-no 5 :length 1}
           {:note-no 75 :hand :right :finger-no 5 :length 8}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 63 :hand :left :finger-no 1 :length 4}
           ]}

  {:notes []} {:notes []} {:notes []}

  {:bar-top? true ;6
   :notes [
           {:note-no 48 :hand :left :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 63 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 2}
           ]}

  {
   :notes [
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {:bar-top? true ;7
   :notes [
           {:note-no 49 :hand :left :finger-no 5 :length 1}
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           {:note-no 77 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 1 :length 1}
           {:note-no 65 :hand :right :finger-no 1 :length 5}
           {:note-no 73 :hand :right :finger-no 3 :length 5}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 2 :length 2}
           ]}

  {
   :notes [
           {:note-no 72 :hand :right :finger-no 2 :length 1}
           ]}

  {:bar-top? true ;8
   :notes [
           {:note-no 46 :hand :left :finger-no 5 :length 1}
           {:note-no 65 :hand :right :finger-no 1 :length 1}
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 53 :hand :left :finger-no 2 :length 1}
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 1}
           {:note-no 70 :hand :right :finger-no 2 :length 5}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 2}
           ]}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 3 :length 1}
           ]}

  {:bar-top? true ;9
   :notes [
           {:note-no 39 :hand :left :finger-no 5 :length 1}
           {:note-no 61 :hand :right :finger-no 1 :length 4}
           {:note-no 68 :hand :right :finger-no 3 :length 8}
           {:note-no 70 :hand :right :finger-no 4 :length 8}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :right :finger-no 1 :length 4}
           {:note-no 65 :hand :right :finger-no 2 :length 4}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {:bar-top? true ;10
   :notes [
           {:note-no 39 :hand :left :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :right :finger-no 1 :length 2}
           {:note-no 65 :hand :right :finger-no 2 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 4 :length 1}
           {:note-no 61 :hand :right :finger-no 1 :length 1}
           {:note-no 63 :hand :right :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 63 :hand :right :finger-no 2 :length 1}
           ]}

  {:bar-top? true ;11
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           {:note-no 58 :hand :right :finger-no 1 :length 1}
           {:note-no 60 :hand :right :finger-no 2 :length 1}
           {:note-no 63 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           {:note-no 68 :hand :right :finger-no 5 :length 6}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 2}
           {:note-no 60 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 2}
           ]}

  {
   :notes [
           {:note-no 70 :hand :right :finger-no 3 :length 1}
           ]}

  {:bar-top? true ;12
   :notes [
           {:note-no 41 :hand :left :finger-no 5 :length 1}
           {:note-no 67 :hand :right :finger-no 1 :length 1}
           {:note-no 70 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 48 :hand :left :finger-no 2 :length 1}
           {:note-no 68 :hand :right :finger-no 2 :length 6}
           {:note-no 72 :hand :right :finger-no 4 :length 6}
           ]}

  {
   :notes [
           {:note-no 53 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 2}
           ]}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 2 :length 1}
           ]}

  {:bar-top? true ;13
   :notes [
           {:note-no 48 :hand :left :finger-no 5 :length 1}
           {:note-no 67 :hand :right :finger-no 1 :length 8}
           {:note-no 75 :hand :right :finger-no 5 :length 8}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 63 :hand :left :finger-no 1 :length 4}
           ]}

  {:notes []} {:notes []} {:notes []}

  {:bar-top? true ;14
   :notes [
           {:note-no 48 :hand :left :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 63 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 2}
           ]}

  {
   :notes [
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {:bar-top? true ;15
   :notes [
           {:note-no 49 :hand :left :finger-no 5 :length 1}
           {:note-no 67 :hand :right :finger-no 1 :length 1}
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           {:note-no 77 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 1 :length 1}
           {:note-no 65 :hand :right :finger-no 1 :length 6}
           {:note-no 73 :hand :right :finger-no 3 :length 6}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 2 :length 2}
           ]}

  {
   :notes [
           {:note-no 72 :hand :right :finger-no 2 :length 1}
           ]}

  {:bar-top? true ;16
   :notes [
           {:note-no 46 :hand :left :finger-no 5 :length 1}
           {:note-no 65 :hand :right :finger-no 1 :length 1}
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 53 :hand :left :finger-no 2 :length 1}
           {:note-no 77 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 1}
           {:note-no 70 :hand :right :finger-no 2 :length 6}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 2}
           ]}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 3 :length 1}
           ]}

  {:bar-top? true ;17
   :notes [
           {:note-no 39 :hand :left :finger-no 5 :length 1}
           {:note-no 61 :hand :right :finger-no 1 :length 4}
           {:note-no 68 :hand :right :finger-no 3 :length 8}
           {:note-no 70 :hand :right :finger-no 4 :length 8}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :right :finger-no 1 :length 2}
           {:note-no 65 :hand :right :finger-no 2 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 2}
           ]}

  {:notes []}

  {:bar-top? true ;18
   :notes [
           {:note-no 39 :hand :left :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  ]
 }
