[
 {:title "月光(第1楽章)"
  :sub-titles ["Lesson1"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/moonlight1_1.edn"}
 {:title "悲愴(第2楽章)"
  :sub-titles ["Lesson6"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/pathetique2_6.edn"}
 {:title "悲愴(第2楽章)"
  :sub-titles ["Lesson7"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/pathetique2_7.edn"}
 {:title "悲愴(第2楽章)"
  :sub-titles ["Lesson9"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/pathetique2_9.edn"}
 {:title "悲愴(第2楽章)"
  :sub-titles ["Lesson10"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/pathetique2_10.edn"}
 {:title "めぐり逢い"
  :sub-titles ["(ギャニオン)" "Lesson1"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/gagnon_1.edn"}
 {:title "めぐり逢い"
  :sub-titles ["(ギャニオン)" "Lesson2"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/gagnon_2.edn"}
 {:title "海の見える街"
  :sub-titles ["Lesson1"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/kiki_1.edn"}
 {:title "月の光"
  :sub-titles ["(ドビュッシー)" "Lesson1"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/clair_de_lune_1.edn"}
 {:title "月の光"
  :sub-titles ["(ドビュッシー)" "Lesson2"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/clair_de_lune_2.edn"}
 {:title "月の光"
  :sub-titles ["(ドビュッシー)" "Lesson3"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/clair_de_lune_3.edn"}
 {:title "カノン"
  :sub-titles ["(パッヘルベル)" "Lesson1"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/canon_1.edn"}
 {:title "雨だれ"
  :sub-titles ["(前奏曲No.15)" "Lesson1"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/prelude15_1.edn"}
 {:title "指の練習"
  :sub-titles ["パターン1"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/drill_barabara_1.edn"}
 {:title "指の練習"
  :sub-titles ["パターン2"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/drill_barabara_2.edn"}
 {:title "指の練習"
  :sub-titles ["パターン3"]
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/drill_barabara_3.edn"}
 ]
