[
 {:name "月光(第1楽章) #1"
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/moonlight1_1.edn"}
 {:name "悲愴(第2楽章) #6"
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/pathetique2_6.edn"}
 {:name "悲愴(第2楽章) #7"
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/pathetique2_7.edn"}
 {:name "悲愴(第2楽章) #9"
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/pathetique2_9.edn"}
 {:name "めぐり逢い(ギャニオン) #1"
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/gagnon_1.edn"}
 {:name "めぐり逢い(ギャニオン) #2"
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/gagnon_2.edn"}
 {:name "指の練習 #1"
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/drill_barabara_1.edn"}
 {:name "指の練習 #2"
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/drill_barabara_2.edn"}
 {:name "指の練習 #3"
  :url "https://raw.githubusercontent.com/gpsoft/mpnote/master/resources/public/notes/drill_barabara_3.edn"}
 ]
