{:title "別れの曲 Lesson3",
 :url "https://www.youtube.com/watch?v=tYZTEEtTVF4",
 :tempo 120,
 :steps
 [{:bar-top? true, :notes []}
  {:notes []}
  {:notes []}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 40, :hand :left, :finger-no 5, :length 1}
    {:note-no 62, :hand :right, :finger-no 1, :length 1}
    {:note-no 66, :hand :right, :finger-no 2, :length 1}
    {:note-no 71, :hand :right, :finger-no 4, :length 1}]}
  {:notes
   [{:note-no 52, :hand :left, :finger-no 1, :length 1}
    {:note-no 64, :hand :right, :finger-no 1, :length 1}
    {:note-no 68, :hand :right, :finger-no 3, :length 1}
    {:note-no 73, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 62, :hand :right, :finger-no 1, :length 1}
    {:note-no 66, :hand :right, :finger-no 2, :length 1}
    {:note-no 73, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 52, :hand :left, :finger-no 1, :length 1}
    {:note-no 64, :hand :right, :finger-no 1, :length 1}
    {:note-no 68, :hand :right, :finger-no 3, :length 1}
    {:note-no 71, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 45, :hand :left, :finger-no 3, :length 1}
    {:note-no 61, :hand :right, :finger-no 1, :length 1}
    {:note-no 69, :hand :right, :finger-no 4, :length 1}]}
  {:notes
   [{:note-no 52, :hand :left, :finger-no 1, :length 1}
    {:note-no 64, :hand :right, :finger-no 2, :length 1}
    {:note-no 71, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 61, :hand :right, :finger-no 1, :length 1}
    {:note-no 68, :hand :right, :finger-no 3, :length 1}]}
  {:notes
   [{:note-no 52, :hand :left, :finger-no 1, :length 1}
    {:note-no 64, :hand :right, :finger-no 2, :length 1}
    {:note-no 69, :hand :right, :finger-no 5, :length 1}]}
  {:bar-top? true,
   :notes
   [{:note-no 44, :hand :left, :finger-no 5, :length 1}
    {:note-no 66, :hand :right, :finger-no 1, :length 1}
    {:note-no 72, :hand :right, :finger-no 2, :length 1}
    {:note-no 75, :hand :right, :finger-no 4, :length 1}]}
  {:notes
   [{:note-no 56, :hand :left, :finger-no 1, :length 1}
    {:note-no 68, :hand :right, :finger-no 1, :length 1}
    {:note-no 76, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 66, :hand :right, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 2, :length 1}
    {:note-no 76, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 56, :hand :left, :finger-no 1, :length 1}
    {:note-no 68, :hand :right, :finger-no 1, :length 1}
    {:note-no 72, :hand :right, :finger-no 2, :length 1}
    {:note-no 75, :hand :right, :finger-no 4, :length 1}]}
  {:notes
   [{:note-no 49, :hand :left, :finger-no 3, :length 1}
    {:note-no 64, :hand :right, :finger-no 1, :length 1}
    {:note-no 73, :hand :right, :finger-no 4, :length 1}]}
  {:notes
   [{:note-no 56, :hand :left, :finger-no 1, :length 1}
    {:note-no 68, :hand :right, :finger-no 2, :length 1}
    {:note-no 75, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 64, :hand :right, :finger-no 1, :length 1}
    {:note-no 72, :hand :right, :finger-no 4, :length 1}]}
  {:notes
   [{:note-no 56, :hand :left, :finger-no 1, :length 1}
    {:note-no 68, :hand :right, :finger-no 2, :length 1}
    {:note-no 73, :hand :right, :finger-no 5, :length 1}]}
  {:bar-top? true,
   :notes
   [{:note-no 49, :hand :left, :finger-no 5, :length 1}
    {:note-no 52, :hand :left, :finger-no 3, :length 1}
    {:note-no 54, :hand :left, :finger-no 2, :length 1}
    {:note-no 58, :hand :left, :finger-no 1, :length 1}
    {:note-no 64, :hand :right, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 2, :length 1}
    {:note-no 76, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 49, :hand :left, :finger-no 5, :length 1}
    {:note-no 52, :hand :left, :finger-no 3, :length 1}
    {:note-no 54, :hand :left, :finger-no 2, :length 1}
    {:note-no 58, :hand :left, :finger-no 1, :length 1}
    {:note-no 66, :hand :right, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 2, :length 1}
    {:note-no 78, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 49, :hand :left, :finger-no 5, :length 1}
    {:note-no 52, :hand :left, :finger-no 3, :length 1}
    {:note-no 54, :hand :left, :finger-no 2, :length 1}
    {:note-no 58, :hand :left, :finger-no 1, :length 1}
    {:note-no 63, :hand :right, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 2, :length 1}
    {:note-no 75, :hand :right, :finger-no 4, :length 1}]}
  {:notes
   [{:note-no 49, :hand :left, :finger-no 5, :length 1}
    {:note-no 52, :hand :left, :finger-no 3, :length 1}
    {:note-no 54, :hand :left, :finger-no 2, :length 1}
    {:note-no 58, :hand :left, :finger-no 1, :length 1}
    {:note-no 64, :hand :right, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 2, :length 1}
    {:note-no 76, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 48, :hand :left, :finger-no 5, :length 1}
    {:note-no 52, :hand :left, :finger-no 3, :length 1}
    {:note-no 54, :hand :left, :finger-no 2, :length 1}
    {:note-no 58, :hand :left, :finger-no 1, :length 1}
    {:note-no 66, :hand :right, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 2, :length 1}
    {:note-no 78, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 48, :hand :left, :finger-no 5, :length 1}
    {:note-no 52, :hand :left, :finger-no 3, :length 1}
    {:note-no 54, :hand :left, :finger-no 2, :length 1}
    {:note-no 58, :hand :left, :finger-no 1, :length 1}
    {:note-no 68, :hand :right, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 2, :length 1}
    {:note-no 80, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 48, :hand :left, :finger-no 5, :length 1}
    {:note-no 52, :hand :left, :finger-no 3, :length 1}
    {:note-no 54, :hand :left, :finger-no 2, :length 1}
    {:note-no 58, :hand :left, :finger-no 1, :length 1}
    {:note-no 64, :hand :right, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 2, :length 1}
    {:note-no 76, :hand :right, :finger-no 5, :length 1}]}
  {:notes
   [{:note-no 48, :hand :left, :finger-no 5, :length 1}
    {:note-no 52, :hand :left, :finger-no 3, :length 1}
    {:note-no 54, :hand :left, :finger-no 2, :length 1}
    {:note-no 58, :hand :left, :finger-no 1, :length 1}
    {:note-no 66, :hand :right, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 2, :length 1}
    {:note-no 78, :hand :right, :finger-no 5, :length 1}]}
  {:bar-top? true, :notes []}]}
