{:title "アンドレ・ギャニオン - 「めぐり逢い」 Lesson2"
 :url "https://www.youtube.com/watch?v=s6X5X-lLcTc"
 :tempo 80

 :steps
 [
  {:bar-top? true
   :notes [
           {:note-no 39 :hand :left :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           {:note-no 65 :hand :right :finger-no 1 :length 2}
           {:note-no 68 :hand :right :finger-no 2 :length 2}
           {:note-no 72 :hand :right :finger-no 4 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 1}
           {:note-no 63 :hand :right :finger-no 1 :length 2}
           {:note-no 67 :hand :right :finger-no 2 :length 2}
           {:note-no 73 :hand :right :finger-no 5 :length 2}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           {:note-no 67 :hand :right :finger-no 1 :length 6}
           {:note-no 72 :hand :right :finger-no 2 :length 6}
           {:note-no 75 :hand :right :finger-no 4 :length 6}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 2 :length 2}
           {:note-no 63 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 4 :length 2}
           ]}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 1 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 49 :hand :left :finger-no 5 :length 1}
           #_{:note-no 72 :hand :right :finger-no 1 :length 1}
           {:note-no 77 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           #_{:note-no 65 :hand :left :finger-no 1 :length 2}
           {:note-no 65 :hand :right :finger-no 1 :length 2}
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           #_{:note-no 56 :hand :left :finger-no 5 :length 1}
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 5 :length 1}
           #_{:note-no 68 :hand :right :finger-no 1 :length 1}
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           {:note-no 72 :hand :right :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           #_{:note-no 67 :hand :right :finger-no 1 :length 2}
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           #_{:note-no 58 :hand :left :finger-no 1 :length 1}
           {:note-no 77 :hand :right :finger-no 5 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 41 :hand :left :finger-no 5 :length 1}
           {:note-no 72 :hand :right :finger-no 1 :length 7}
           {:note-no 75 :hand :right :finger-no 2 :length 7}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 3 :length 2}
           {:note-no 63 :hand :left :finger-no 2 :length 2}
           {:note-no 67 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 4 :length 2}
           ]}

  {
   :notes [
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 55 :hand :left :finger-no 5 :length 1}
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 3 :length 1}
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 65 :hand :right :finger-no 1 :length 1}
           {:note-no 72 :hand :right :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 48 :hand :left :finger-no 5 :length 1}
           {:note-no 65 :hand :right :finger-no 1 :length 1}
           {:note-no 72 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 2 :length 1}
           {:note-no 70 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 2}
           {:note-no 64 :hand :right :finger-no 1 :length 2}
           {:note-no 73 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 72 :hand :right :finger-no 4 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 41 :hand :left :finger-no 5 :length 1}
           {:note-no 67 :hand :right :finger-no 1 :length 4}
           {:note-no 68 :hand :right :finger-no 2 :length 4}
           ]}

  {
   :notes [
           {:note-no 48 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 53 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 65 :hand :right :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 63 :hand :right :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 3 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 4}
           {:note-no 63 :hand :right :finger-no 1 :length 4}
           {:note-no 72 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 70 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 70 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 46 :hand :left :finger-no 5 :length 4}
           {:note-no 62 :hand :right :finger-no 1 :length 4}
           {:note-no 68 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 65 :hand :right :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 65 :hand :right :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 72 :hand :right :finger-no 5 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 39 :hand :left :finger-no 5 :length 1}
           {:note-no 61 :hand :right :finger-no 1 :length 4}
           {:note-no 68 :hand :right :finger-no 3 :length 6}
           {:note-no 70 :hand :right :finger-no 4 :length 6}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 2 :length 2}
           {:note-no 65 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 4 :length 2}
           ]}

  {:notes []}

  {:bar-top? true
   :notes [
           {:note-no 39 :hand :left :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           {:note-no 65 :hand :right :finger-no 1 :length 2}
           {:note-no 68 :hand :right :finger-no 2 :length 2}
           {:note-no 72 :hand :right :finger-no 4 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 1}
           {:note-no 63 :hand :right :finger-no 1 :length 2}
           {:note-no 67 :hand :right :finger-no 2 :length 2}
           {:note-no 73 :hand :right :finger-no 5 :length 2}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           {:note-no 67 :hand :right :finger-no 1 :length 6}
           {:note-no 72 :hand :right :finger-no 2 :length 6}
           {:note-no 75 :hand :right :finger-no 4 :length 6}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 2 :length 2}
           {:note-no 63 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 4 :length 2}
           ]}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 1 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 49 :hand :left :finger-no 5 :length 1}
           {:note-no 77 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 1 :length 2}
           {:note-no 65 :hand :right :finger-no 1 :length 2}
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 5 :length 1}
           {:note-no 68 :hand :right :finger-no 1 :length 1}
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           {:note-no 72 :hand :right :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           {:note-no 67 :hand :right :finger-no 1 :length 2}
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 1}
           {:note-no 77 :hand :right :finger-no 5 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           {:note-no 72 :hand :right :finger-no 2 :length 7}
           {:note-no 75 :hand :right :finger-no 4 :length 7}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 3 :length 2}
           {:note-no 63 :hand :left :finger-no 2 :length 2}
           {:note-no 67 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 4 :length 2}
           ]}

  {
   :notes [
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 55 :hand :left :finger-no 5 :length 1}
           {:note-no 75 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 3 :length 1}
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 2}
           {:note-no 73 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 65 :hand :right :finger-no 1 :length 1}
           {:note-no 72 :hand :right :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 48 :hand :left :finger-no 5 :length 1}
           {:note-no 65 :hand :right :finger-no 1 :length 1}
           {:note-no 72 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 2 :length 1}
           {:note-no 70 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 2}
           {:note-no 64 :hand :right :finger-no 1 :length 2}
           {:note-no 73 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 72 :hand :right :finger-no 4 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 41 :hand :left :finger-no 5 :length 1}
           {:note-no 67 :hand :right :finger-no 1 :length 4}
           {:note-no 68 :hand :right :finger-no 2 :length 4}
           ]}

  {
   :notes [
           {:note-no 48 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 53 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 60 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 65 :hand :right :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 63 :hand :right :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 3 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 4}
           {:note-no 63 :hand :right :finger-no 1 :length 4}
           {:note-no 72 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 70 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 70 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 46 :hand :left :finger-no 5 :length 4}
           {:note-no 62 :hand :right :finger-no 1 :length 4}
           {:note-no 68 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 65 :hand :right :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 65 :hand :right :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 72 :hand :right :finger-no 5 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 39 :hand :left :finger-no 5 :length 1}
           {:note-no 61 :hand :right :finger-no 1 :length 4}
           {:note-no 68 :hand :right :finger-no 3 :length 6}
           {:note-no 70 :hand :right :finger-no 4 :length 6}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :right :finger-no 1 :length 2}
           {:note-no 65 :hand :right :finger-no 2 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 4 :length 2}
           ]}

  {:notes []}

  {:bar-top? true
   :notes [
           {:note-no 39 :hand :left :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :right :finger-no 1 :length 2}
           {:note-no 65 :hand :right :finger-no 2 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 3 :length 2}
           ]}

  {:notes []}

  {:bar-top? true
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           {:note-no 61 :hand :right :finger-no 1 :length 2}
           {:note-no 68 :hand :right :finger-no 3 :length 6}
           {:note-no 70 :hand :right :finger-no 4 :length 6}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :right :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :right :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           {:note-no 60 :hand :right :finger-no 1 :length 3}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 2 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 49 :hand :left :finger-no 5 :length 1}
           {:note-no 66 :hand :right :finger-no 1 :length 1}
           {:note-no 75 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           {:note-no 73 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 1}
           {:note-no 65 :hand :right :finger-no 1 :length 1}
           {:note-no 73 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           {:note-no 72 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 1}
           {:note-no 61 :hand :right :finger-no 1 :length 1}
           {:note-no 72 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 53 :hand :left :finger-no 3 :length 1}
           {:note-no 70 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 2 :length 1}
           {:note-no 61 :hand :right :finger-no 1 :length 1}
           {:note-no 70 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 1}
           {:note-no 68 :hand :right :finger-no 3 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           {:note-no 61 :hand :right :finger-no 1 :length 2}
           {:note-no 66 :hand :right :finger-no 2 :length 6}
           {:note-no 68 :hand :right :finger-no 3 :length 6}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 2 :length 1}
           ]}

  {
   :notes [
           {:note-no 61 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 2}
           {:note-no 60 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 1 :length 2}
           ]}

  {:notes []}

  {:bar-top? true
   :notes [
           {:note-no 49 :hand :left :finger-no 5 :length 1}
           {:note-no 66 :hand :right :finger-no 1 :length 1}
           {:note-no 75 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           {:note-no 73 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 1}
           {:note-no 65 :hand :right :finger-no 1 :length 1}
           {:note-no 73 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 1}
           {:note-no 72 :hand :right :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 1}
           {:note-no 61 :hand :right :finger-no 1 :length 1}
           {:note-no 72 :hand :right :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 53 :hand :left :finger-no 3 :length 1}
           {:note-no 70 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 55 :hand :left :finger-no 2 :length 1}
           {:note-no 61 :hand :right :finger-no 1 :length 1}
           {:note-no 70 :hand :right :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 1}
           {:note-no 68 :hand :right :finger-no 3 :length 1}
           ]}

  {:bar-top? true
   :notes [
           {:note-no 51 :hand :left :finger-no 1 :length 6}
           {:note-no 70 :hand :right :finger-no 1 :length 6}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 39 :hand :left :finger-no 5 :length 4}
           {:note-no 65 :hand :right :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 67 :hand :right :finger-no 2 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 68 :hand :right :finger-no 3 :length 2}
           ]}

  {:notes []}

  {:bar-top? true
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           {:note-no 60 :hand :right :finger-no 1 :length 4}
           {:note-no 68 :hand :right :finger-no 3 :length 8}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 2}
           {:note-no 60 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 2}
           ]}

  {:notes []}

  {:bar-top? true
   :notes [
           {:note-no 44 :hand :left :finger-no 5 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 3 :length 1}
           ]}

  {
   :notes [
           {:note-no 58 :hand :left :finger-no 1 :length 1}
           ]}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 1}
           ]}

  {
   :notes [
           {:note-no 56 :hand :left :finger-no 2 :length 2}
           {:note-no 60 :hand :left :finger-no 1 :length 2}
           ]}

  {:notes []}

  {
   :notes [
           {:note-no 51 :hand :left :finger-no 4 :length 2}
           ]}

  {:notes []}

  {:bar-top? true
   :notes [
           {:note-no 34 :hand :left :finger-no 5 :length 8}
           ]}

  {:notes []} {:notes []} {:notes []}

  ]
 }
