{:title "月光 第2楽章 Lesson4",
 :url "https://www.youtube.com/watch?v=Jdezuk61o_g",
 :tempo 120,
 :steps
 [{:bar-top? true, :notes []}
  {:notes []}
  {:notes
   [{:note-no 53, :hand :left, :finger-no 2, :length 1}
    {:note-no 56, :hand :left, :finger-no 1, :length 1}
    {:note-no 61, :hand :right, :finger-no 1, :length 1}
    {:note-no 73, :hand :right, :finger-no 4, :length 1}]}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 51, :hand :left, :finger-no 3, :length 1}
    {:note-no 56, :hand :left, :finger-no 1, :length 1}
    {:note-no 60, :hand :right, :finger-no 1, :length 1}
    {:note-no 72, :hand :right, :finger-no 5, :length 1}]}
  {:notes []}
  {:notes []}
  {:notes []}
  {:notes
   [{:note-no 49, :hand :left, :finger-no 4, :length 1}
    {:note-no 55, :hand :left, :finger-no 2, :length 1}
    {:note-no 58, :hand :right, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 4, :length 1}]}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 48, :hand :left, :finger-no 5, :length 1}
    {:note-no 60, :hand :left, :finger-no 1, :length 1}
    {:note-no 63, :hand :right, :finger-no 1, :length 1}
    {:note-no 75, :hand :right, :finger-no 5, :length 1}]}
  {:notes []}
  {:notes []}
  {:notes []}
  {:notes
   [{:note-no 49, :hand :left, :finger-no 5, :length 1}
    {:note-no 58, :hand :left, :finger-no 2, :length 1}
    {:note-no 65, :hand :right, :finger-no 1, :length 1}
    {:note-no 73, :hand :right, :finger-no 5, :length 1}]}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 51, :hand :left, :finger-no 4, :length 1}
    {:note-no 63, :hand :left, :finger-no 1, :length 1}
    {:note-no 68, :hand :right, :finger-no 2, :length 1}]}
  {:notes []}
  {:notes [{:note-no 72, :hand :right, :finger-no 4, :length 1}]}
  {:notes []}
  {:notes
   [{:note-no 51, :hand :left, :finger-no 5, :length 1}
    {:note-no 61, :hand :left, :finger-no 1, :length 1}
    {:note-no 67, :hand :right, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 3, :length 1}]}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 56, :hand :left, :finger-no 3, :length 1}
    {:note-no 60, :hand :left, :finger-no 2, :length 1}]}
  {:notes []}
  {:notes [{:note-no 68, :hand :right, :finger-no 2, :length 1}]}
  {:notes []}
  {:notes
   [{:note-no 58, :hand :left, :finger-no 2, :length 1}
    {:note-no 61, :hand :left, :finger-no 1, :length 1}
    {:note-no 66, :hand :right, :finger-no 1, :length 1}
    {:note-no 78, :hand :right, :finger-no 4, :length 1}]}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 56, :hand :left, :finger-no 3, :length 1}
    {:note-no 61, :hand :left, :finger-no 1, :length 1}
    {:note-no 65, :hand :right, :finger-no 1, :length 1}
    {:note-no 77, :hand :right, :finger-no 5, :length 1}]}
  {:notes []}
  {:notes []}
  {:notes []}
  {:notes
   [{:note-no 54, :hand :left, :finger-no 4, :length 1}
    {:note-no 60, :hand :left, :finger-no 1, :length 1}
    {:note-no 66, :hand :right, :finger-no 1, :length 1}
    {:note-no 75, :hand :right, :finger-no 4, :length 1}]}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 53, :hand :left, :finger-no 5, :length 1}
    {:note-no 61, :hand :left, :finger-no 2, :length 1}
    {:note-no 68, :hand :right, :finger-no 1, :length 1}
    {:note-no 80, :hand :right, :finger-no 5, :length 1}]}
  {:notes []}
  {:notes []}
  {:notes []}
  {:notes
   [{:note-no 58, :hand :left, :finger-no 2, :length 1}
    {:note-no 61, :hand :left, :finger-no 1, :length 1}
    {:note-no 66, :hand :right, :finger-no 1, :length 1}
    {:note-no 78, :hand :right, :finger-no 4, :length 1}]}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 56, :hand :left, :finger-no 3, :length 1}
    {:note-no 61, :hand :left, :finger-no 1, :length 1}]}
  {:notes []}
  {:notes
   [{:note-no 65, :hand :right, :finger-no 1, :length 1}
    {:note-no 77, :hand :right, :finger-no 5, :length 1}]}
  {:notes []}
  {:notes
   [{:note-no 54, :hand :left, :finger-no 4, :length 1}
    {:note-no 60, :hand :left, :finger-no 1, :length 1}
    {:note-no 63, :hand :right, :finger-no 1, :length 1}
    {:note-no 75, :hand :right, :finger-no 4, :length 1}]}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 53, :hand :left, :finger-no 5, :length 1}
    {:note-no 61, :hand :left, :finger-no 2, :length 1}
    {:note-no 68, :hand :right, :finger-no 1, :length 1}
    {:note-no 80, :hand :right, :finger-no 5, :length 1}]}
  {:notes []}
  {:notes []}
  {:notes []}
  {:notes
   [{:note-no 58, :hand :left, :finger-no 3, :length 1}
    {:note-no 61, :hand :left, :finger-no 1, :length 1}
    {:note-no 66, :hand :right, :finger-no 1, :length 1}
    {:note-no 78, :hand :right, :finger-no 4, :length 1}]}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 56, :hand :left, :finger-no 4, :length 1}
    {:note-no 61, :hand :left, :finger-no 2, :length 1}]}
  {:notes []}
  {:notes
   [{:note-no 65, :hand :right, :finger-no 1, :length 1}
    {:note-no 77, :hand :right, :finger-no 5, :length 1}]}
  {:notes []}
  {:notes
   [{:note-no 55, :hand :left, :finger-no 5, :length 1}
    {:note-no 64, :hand :left, :finger-no 1, :length 1}
    {:note-no 70, :hand :right, :finger-no 1, :length 1}
    {:note-no 82, :hand :right, :finger-no 5, :length 1}]}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 56, :hand :left, :finger-no 4, :length 1}
    {:note-no 65, :hand :left, :finger-no 1, :length 1}]}
  {:notes []}
  {:notes
   [{:note-no 68, :hand :right, :finger-no 1, :length 1}
    {:note-no 80, :hand :right, :finger-no 4, :length 1}]}
  {:notes []}
  {:notes []}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 32, :hand :left, :finger-no 5, :length 1}
    {:note-no 44, :hand :left, :finger-no 1, :length 1}
    {:note-no 54, :hand :right, :finger-no 1, :length 1}
    {:note-no 60, :hand :right, :finger-no 3, :length 1}]}
  {:notes []}
  {:notes []}
  {:notes []}
  {:notes [{:note-no 63, :hand :right, :finger-no 5, :length 1}]}
  {:notes [{:note-no 61, :hand :right, :finger-no 4, :length 1}]}
  {:bar-top? true,
   :notes
   [{:note-no 37, :hand :left, :finger-no 3, :length 1}
    {:note-no 44, :hand :left, :finger-no 1, :length 1}
    {:note-no 53, :hand :right, :finger-no 1, :length 1}
    {:note-no 61, :hand :right, :finger-no 3, :length 1}]}]}
