{:title "雨だれ Lesson11",
 :url "https://www.youtube.com/watch?v=bsJ4VH8NtPU",
 :tempo 120,
 :steps
 [{:bar-top? true, :notes []}
  {:notes []}
  {:notes []}
  {:notes []}
  {:bar-top? true,
   :notes
   [{:note-no 36, :hand :left, :finger-no 5, :length 4}
    {:note-no 48, :hand :left, :finger-no 1, :length 4}
    {:note-no 56, :hand :right, :finger-no 1, :length 1}
    {:note-no 63, :hand :right, :finger-no 2, :length 4}
    {:note-no 66, :hand :right, :finger-no 4, :length 4}
    {:note-no 68, :hand :right, :finger-no 5, :length 4}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes
   [{:note-no 37, :hand :left, :finger-no 43, :length 4}
    {:note-no 49, :hand :left, :finger-no 1, :length 4}
    {:note-no 56, :hand :right, :finger-no 1, :length 1}
    {:note-no 61, :hand :right, :finger-no 2, :length 2}
    {:note-no 66, :hand :right, :finger-no 4, :length 2}
    {:note-no 68, :hand :right, :finger-no 5, :length 2}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes
   [{:note-no 56, :hand :right, :finger-no 1, :length 1}
    {:note-no 61, :hand :right, :finger-no 2, :length 2}
    {:note-no 64, :hand :right, :finger-no 3, :length 2}
    {:note-no 70, :hand :right, :finger-no 5, :length 2}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:bar-top? true,
   :notes
   [{:note-no 32, :hand :left, :finger-no 5, :length 6}
    {:note-no 44, :hand :left, :finger-no 1, :length 6}
    {:note-no 56, :hand :right, :finger-no 1, :length 1}
    {:note-no 61, :hand :right, :finger-no 2, :length 4}
    {:note-no 64, :hand :right, :finger-no 3, :length 4}
    {:note-no 70, :hand :right, :finger-no 5, :length 4}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes
   [{:note-no 56, :hand :right, :finger-no 1, :length 1}
    {:note-no 60, :hand :right, :finger-no 2, :length 2}
    {:note-no 63, :hand :right, :finger-no 3, :length 2}
    {:note-no 68, :hand :right, :finger-no 5, :length 2}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes
   [{:note-no 37, :hand :left, :finger-no 3, :length 2}
    {:note-no 44, :hand :left, :finger-no 1, :length 2}
    {:note-no 56, :hand :right, :finger-no 1, :length 1}
    {:note-no 61, :hand :right, :finger-no 2, :length 2}
    {:note-no 64, :hand :right, :finger-no 3, :length 2}
    {:note-no 70, :hand :right, :finger-no 5, :length 2}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:bar-top? true,
   :notes
   [{:note-no 32, :hand :left, :finger-no 5, :length 6}
    {:note-no 44, :hand :left, :finger-no 1, :length 6}
    {:note-no 56, :hand :right, :finger-no 1, :length 1}
    {:note-no 61, :hand :right, :finger-no 2, :length 4}
    {:note-no 64, :hand :right, :finger-no 3, :length 4}
    {:note-no 70, :hand :right, :finger-no 5, :length 4}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes
   [{:note-no 56, :hand :right, :finger-no 1, :length 1}
    {:note-no 60, :hand :right, :finger-no 2, :length 2}
    {:note-no 63, :hand :right, :finger-no 3, :length 2}
    {:note-no 68, :hand :right, :finger-no 5, :length 2}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes
   [{:note-no 37, :hand :left, :finger-no 3, :length 2}
    {:note-no 44, :hand :left, :finger-no 1, :length 2}
    {:note-no 56, :hand :right, :finger-no 1, :length 1}
    {:note-no 61, :hand :right, :finger-no 2, :length 2}
    {:note-no 64, :hand :right, :finger-no 3, :length 2}
    {:note-no 70, :hand :right, :finger-no 5, :length 2}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:bar-top? true,
   :notes
   [{:note-no 32, :hand :left, :finger-no 5, :length 4}
    {:note-no 44, :hand :left, :finger-no 1, :length 2}
    {:note-no 56, :hand :right, :finger-no 1, :length 1}
    {:note-no 61, :hand :right, :finger-no 2, :length 2}
    {:note-no 64, :hand :right, :finger-no 3, :length 2}
    {:note-no 70, :hand :right, :finger-no 5, :length 2}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes
   [{:note-no 44, :hand :left, :finger-no 1, :length 2}
    {:note-no 56, :hand :right, :finger-no 1, :length 1}
    {:note-no 60, :hand :right, :finger-no 2, :length 2}
    {:note-no 63, :hand :right, :finger-no 3, :length 2}
    {:note-no 68, :hand :right, :finger-no 5, :length 2}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 1, :length 1}]}
  {:notes [{:note-no 56, :hand :right, :finger-no 2, :length 1}]}
  {:notes
   [{:note-no 53, :hand :right, :finger-no 3, :length 1}
    {:note-no 56, :hand :right, :finger-no 3, :length 1}]}
  {:notes
   [{:note-no 54, :hand :right, :finger-no 2, :length 1}
    {:note-no 56, :hand :right, :finger-no 2, :length 1}]}
  {:notes
   [{:note-no 51, :hand :right, :finger-no 4, :length 1}
    {:note-no 56, :hand :right, :finger-no 3, :length 1}]}
  {:bar-top? true, :notes []}]}
